<!--
-->
<launch>
	<arg name="user" default="$(env NEATO_NAME)"/>
	<group ns="$(arg user)"> 
	  <node pkg="tf" type="static_transform_publisher" name="laser_to_base"
		args="-0.1016 0 0.0889 0 0 0 base_footprint base_laser_link 50" />

	  <node name="neato" pkg="neato_controller" type="neato.py" output="screen">
		<param name="neato_port" value="$(env NEATO_PORT)" />
		<param name="port" value="$(env NEATO_PORT)" />

	 </node>
	</group> 
</launch>
